{
    "tabWidth": 2,
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "singleAttributePerLine": false,
    "jsxSingleQuote": true,
    "useTabs": false
}
  